@import "veriball";
.banner_2 {
  .all_string {
    font-family: $font-family;
    color: $color-primary;
    font-weight: 900;
    font-size: 40px;
    line-height: 130%;
    letter-spacing: -4%;
    margin-bottom: 47px;
  }
  .banner_two {
    display: flex;
    align-items: center;
    justify-content: center;
    .banner_two_img {
      position: relative;
      left: 180px;
    }
    .banner_string {
      left: 180px;
      position: absolute;
      padding: 20px;
      z-index: 2;
      .banner_twos {
        position: absolute;
        top: -53px;
        left: 0;
      }
      .banner_two_title {
        position: relative;
        z-index: 3;
        font-family: sans-serif;
        font-weight: 500;
        font-style: Medium;
        font-size: 26px;
        line-height: 130%;
        letter-spacing: 0%;
        width: 511px;
        color: $color-secondary;
      }
    }
  }
}
