@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
$font-family: "Inter", sans-serif;
$color-primary: #0093dd;
$color-secondary: #ffffff;
$btn-color: #0093dd;

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.all_string {
  font-family: $font-family;
  color: $color-primary;
  font-weight: 900;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -4%;
  margin-bottom: 47px;
}
